<header>
    <h3>Groups list</h3>
</header>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Groupname</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('groups_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.groupname }}</td>
            <td>
            <ul>
                <li>
                    <a href="{{ path('groups_show', { 'id': entity.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('groups_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a href="{{ path('groups_new') }}">
            Create a new entry
        </a>
    </li>
</ul>